.navbar {
    width: 100%;
    padding: 10px 20px;
    height: 10%;
    display: flex;
    align-items: center;
}
.nav-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-content > h3 {
    color: red;
}
